.page-body {
    margin: 0 auto;
    width: 1280px;
}
.menu {
    text-align: center;
}
.menu-item {
    display: inline-block;
    list-style: none;
    padding-right: 72px;
}
.picture-header {

}
.menu-item-link {
    color: #FF0000;
    text-transform: uppercase;
    font-weight:bold;
}
.head {
    padding-top: 48px;
    padding-bottom: 38px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}
.content {
    text-align: center;
    margin-right: 68px;
    margin-left: 68px;
}
.page-button {
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
    margin-left: 545px;
    margin-top: 66px;
    text-transform: uppercase;
    color: #fff;
}
.footer-content {
    text-align: right;
    margin-top: 82px;
    padding-bottom: 29px;
    margin-right: 105px;
    font-weight: bold;
}